/* imgの自動調整 */


.img_s {
	max-width: 256px;
	max-height:192px;
	width:expression(
		(this.width/256) >= (this.height/192 ) ?
		(this.width >= 256 ? "192" : this.width):
		(this.width/(this.height/192 ))
	);

}
.img_m {
	max-width:380px;
	max-height:285px;
	width:expression(
		(this.width/380) >= (this.height/285 ) ?
		(this.width >= 380 ? "285" : this.width):
		(this.width/(this.height/285 ))
	);
}
.img_l {
	max-width:800px;
	max-height:350px;
	width:expression(
		(this.width/800) >= (this.height/350 ) ?
		(this.width >= 800 ? "350" : this.width):
		(this.width/(this.height/350 ))
	);
}
.img_s, .img_m, .img_l {
	-ms-interpolation-mode: bicubic;
}
